#init_set_password {
  height: calc(100vh - 50px);
  margin-top: 50px;
}

.init_set_password_input {
  width: 300px;
  margin: auto;
  margin-top: 50px;
}

.input_notice {
  width: 300px;
  margin: auto;
  margin-top: 10px;
  font-size: 12px;
  color: rgb(129, 129, 129);
}

.input_notice:before {
  content: "* ";
}