#main-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 1440px;
  min-height: 590px;
  overflow: hidden;
}

#main-1-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#main-1-bg-img img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main-1-bg-cover {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(185, 79, 85);
  opacity: .5;
}

#main-1-introduce {
  text-align: right;
  z-index: 3;
  margin-right: 50px;
}

#main-1-introduce-content {
  margin-top: 10px;
}

#main-1-get-start {
  margin-top: 50px;
}

#main-1-get-start-email {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#main-1-get-start-email > input {
  width: 186px;
  height: 31px;
  border: 2px solid rgb(146, 146, 146);
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  color: rgb(110, 110, 110);
  transition: .3s;
}

#main-1-get-start-email > input::placeholder {
  color: rgb(192, 192, 192);
}

#main-1-get-start-submit {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 130px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(5, 130, 247);
  font-size: 13px;
  color: #fff;
}

#main-1-get-start-submit:hover {
  cursor: pointer;
}

.email-form-correct {
  border-color: rgb(5, 130, 247) !important;
  color: rgb(5, 130, 247) !important;
  transition: .3s;
}

.email-form-uncorrect {
  border-color: rgb(185, 79, 85) !important;
  color: rgb(185, 79, 85) !important;
  transition: .3s;
}