#my-page {
  width: 100%;
  margin-top: 50px;
}

#my-page aside {
  float: left;
  width: 234px;
  height: calc(100vh - 82px);
  border: 1px solid #ddd;
  padding: 17px;
}

#my-page section {
  float: left;
  width: calc(100% - 270px);
  height: 498px;
}

#my-page-aside-header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}