#introduce_summary {
  width: 100%;
  height: 65px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#introduce_summary header {
  font-size: 36px;
  margin-bottom: 10px;
}

#introduce_summary section {
  font-size: 12px;
}

#introduce_summary .wave {
  position: absolute;
  top: 70%;
}

.wave {
  width: 1170px;
  height: 1150px;
  border-radius: 43%;
  opacity: .1;
}

.wave_one {
  animation: drift 3000ms infinite linear;
  background: #6B78B6;
}
.wave_two {
  animation: drift 5000ms infinite linear;
  background: #9CFFB6;
}
.wave_three {
  animation: drift 7000ms infinite linear;
  background: #FF7A71;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}